@keyframes move-mouth {
  0% {
    background: url("./img/입-작은.png") no-repeat center;
  }
  50% {
    background: url("./img/입-웃는.png") no-repeat center;
  }
  100% {
    background: url("./img/입-큰.png") no-repeat center;
  }
}

@keyframes move-eye {
  0% {
    background: url("./img/눈-뜬.png") no-repeat center;
  }
  20% {
    background: url("./img/눈-감은.png") no-repeat center;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: green;
}

h1,
p {
  text-align: center;
}

p {
  width: 100%;
  height: 150px;
}

.myCharacter {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.move-face {
  position: absolute;
  width: 70vmin;
  height: 60vmin;
  background: url("./img/얼굴-베이스.png") no-repeat center;
  object-fit: contain;
  z-index: 1;
}

.move-eye {
  position: absolute;
  top: 20.7rem;
  left: 80rem;
  width: 15rem;
  height: 10rem;
  background: url("./img/눈-뜬.png") no-repeat center;
  z-index: 2;
  /* animation: move-eye 3s infinite; */
}

.move-mouth {
  position: absolute;
  top: 303px;
  left: 823px;
  width: 10rem;
  height: 10rem;
  background: url("./img/입-큰.png") no-repeat center;
  z-index: 3;
  animation: move-mouth 1.3s infinite;
}
